<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wkrj.statisticanalysis.dao.AnalysisDao">
	<select id="getTypeAnalysis" resultType="AnalysisType">
		SELECT content_type,COUNT(*) as nums
		FROM `wkrj_reportevent_wf` 
		WHERE 1=1 
		<if test="chengban_dept != null and chengban_dept != ''">
             AND chengban_dept LIKE CONCAT(#{chengban_dept},'%')
        </if>
        <if test="business_type != null and business_type != ''">
             AND business_type = #{business_type}
        </if>
		<if test="null!= startTime and ''!= startTime">
            AND input_time >= #{startTime}
        </if>
        <if test="null!= endTime and ''!= endTime">
            AND input_time &lt;= #{endTime}
        </if>
		GROUP BY content_type;
	</select>
	
	
	<select id="getCounties" parameterType="String" resultType="map">
		SELECT * FROM `wkrj_sys_department`
		WHERE 1=1 
		<if test="null!= parent_id and ''!= parent_id">
            AND dept_parent_id = #{parent_id}
        </if>
	</select>
	
	
	<select id="getBusinessTypeAnalysis" resultType="AnalysisType">
		SELECT 
		(select typename from wkrj_sys_data_dictionary where id = business_type)
		as business_type,COUNT(*) as nums
		FROM `wkrj_reportevent_wf` 
		WHERE  business_type is NOT NULL
		<if test="chengban_dept != null and chengban_dept != ''">
             AND chengban_dept LIKE CONCAT(#{chengban_dept},'%')
        </if>
        <if test="accept_source != null and accept_source != ''">
             AND accept_source = #{accept_source}
        </if>
		<if test="null!= startTime and ''!= startTime">
            AND input_time >= #{startTime}
        </if>
        <if test="null!= endTime and ''!= endTime">
            AND input_time &lt;= #{endTime}
        </if>
		GROUP BY business_type;
	</select>
	
	
	
	<select id="dealRanking"  parameterType="Object" resultType="map">
		SELECT (select dept_name from wkrj_sys_department where dept_id = chengban_dept)
		as chengban_dept
		,count(chengban_dept) as nums
		
		FROM wkrj_reportevent_wf
		WHERE  chengban_dept in (select dept_id from wkrj_sys_department where dept_parent_id = "04")
		<if test="business_type != null and business_type != ''">
             AND business_type = #{business_type}
        </if>
        <if test="event_status != null and event_status != ''">
             AND event_status = #{event_status}
        </if>
        <if test="qianshou_status != null and qianshou_status != ''">
             AND qianshou_status = #{qianshou_status}
        </if>
        
        <if test="satisfy_status != null and satisfy_status != ''">
             AND satisfy_status is not null
        </if>
        
		GROUP BY chengban_dept
		ORDER BY nums desc
	</select>
	
	
	<select id="dealRankingOpt"  parameterType="Object" resultType="map">
		SELECT (select dept_name from wkrj_sys_department where dept_id = chengban_dept)
		as chengban_dept
		,count(chengban_dept) as nums
		
		FROM wkrj_reportevent_wf
		WHERE  chengban_dept in (select dept_id from wkrj_sys_department where dept_parent_id = "04")
		<if test="business_type != null and business_type != ''">
             AND business_type = #{business_type}
        </if>
        <if test="opt != null and opt != ''">
             <if test=" opt ==1 ">
             	AND event_status = "1"
        	 </if>
        	 <if test=" opt ==2 ">
             	AND qianshou_status = "1"
        	 </if>
        	 <if test=" opt ==3 ">
             	AND satisfy_status is not null
        	 </if>
        </if>
       
        
		GROUP BY chengban_dept
		ORDER BY nums desc
	</select>
	
	
	
</mapper>
