<?xml version="1.0" encoding="UTF-8" ?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xmlns:aop="http://www.springframework.org/schema/aop"  
       xmlns:tx="http://www.springframework.org/schema/tx"  
       xmlns:context="http://www.springframework.org/schema/context"  
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="  
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd  
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">  
  
  	
    <bean id="myShiro" class="wkrjsystemdev.userdev.service.MyRealm">
        <!--<property name="cachingEnabled" value="false"/> -->
        <property name="authorizationCacheName" value="zxhCache"></property>
    </bean>
  
    <!-- 配置权限管理器 -->  
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">    
        <!-- ref对应我们写的realm  MyShiro -->  
        <property name="realm" ref="myShiro"/>   
        <property name="cacheManager" ref="cacheManager"/> 
    </bean> 
    
     <aop:config proxy-target-class="true"></aop:config>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    
     <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <!-- <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>  -->
      
    <!-- 配置shiro的过滤器工厂类，id- shiroFilter要和我们在web.xml中配置的过滤器一致 -->  
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">   
        <!-- 调用我们配置的权限管理器 -->   
        <property name="securityManager" ref="securityManager"/>   
        <!-- 配置我们的登录请求地址 -->   
       <!--  <property name="loginUrl" value="/wkrjsystemdev/wkrjLoginDev/checkLogin.wk"/> -->    
        <property name="loginUrl" value="/"/>    
        <!-- 配置我们在登录页登录成功后的跳转地址，如果你访问的是非/login地址，则跳到您访问的地址 -->  
       <!--  <property name="successUrl" value="/user"/>     -->
        <!-- 如果您请求的资源不再您的权限范围，则跳转到/403请求地址 -->  
        <property name="unauthorizedUrl" value="system/403"/>    
        <!-- 权限配置 -->  
        <property name="filterChainDefinitions">    
            <value>    
                <!-- anon表示此地址不需要任何权限即可访问 -->  
                /system/**=anon  
                /systemdev/**=anon  
                /page/**=anon  
                /unauthorized.jsp=anon  
                /wkrjsystem/wkrjlogin/checkLogin=anon  
                /wkrjsystemdev/wkrjLoginDev/checkLogin.wk=anon    
                /wkrjsystem/wkrjlogin/login=anon  
                /wkrjsystemdev/wkrjLoginDev/login.wk=anon  
				/wkrjsystem/wkrjlogin/loginout=anon  
				/wkrjsystemdev/wkrjLoginDev/loginout.wk=anon  
				/wkrjsystemdev/wkrjModule/getLeftMenu.wk=anon  
				/wkrjsystem/wkrjMenu/getLeftMenu=anon  
				/wkrjsystemdev/wkrjLoginDev/permissionsCheck.wk=anon  
				/wkrjsystem/wkrjlogin/permissionsCheck=anon  
				/wkrjsystem/wkrjStation/getAddPage=anon  
				/wkrjsystem/wkrjlogin/updatepassword=anon
				/validateCodeServlet=anon
				/wkrjsystem/wkrjUser/getUserList=anon
				/eventWf/WkrjEventWf/getDataDictionary=anon
				/eventWf/WkrjEventWf/getDeptTree=anon
				/eventWf/WkrjEventWf/getTipInfoList=anon
				
				<!-- 手机端开始 -->
				/wkrjsystem/wkrjlogin/checkLogin_mobile=anon
				/wkrjsystem/wkrjlogin/login_mobile=anon
				/wkrjsystem/reportInfoCheck/getNotCheckedList=anon
				/wkrjsystem/statistic/getExpiredInfoList=anon
				/wkrjsystem/upReportInfo/to_add=anon
				/wkrjsystem/upReportInfo/getReportInfoById=anon
				/wkrjsystem/upReportInfo/updateReport=anon
				/wkrjsystem/upReportInfo/getUpReportInfoList=anon
				/wkrjsystem/upReportInfo/uploadfile=anon
				/wkrjsystem/wkrjInfo/reportInfo=anon
				/wkrjsystem/upReportInfo/getSchloolByDept=anon
				/wkrjsystem/upReportInfo/addUpReportInfo=anon
				/wkrjsystem/upReportInfo/giveNotice=anon
				/wkrjsystem/upReportInfo/delFile=anon
				/wkrjsystem/upReportInfo/delReportFile=anon
				/css/**=anon  
				<!-- 手机端结束 -->
				
				<!--附件过滤开始 -->
				/wkrjsystem/publishInfo/uploadPic=anon
				/wkrjsystem/emergencyInfo/uploadPic=anon
				/wkrjsystem/dayCheckInfo/uploadPic=anon
				/wkrjsystem/reportInfoCheck/uploadPic=anon
				/wkrjsystem/newsManage/uploadPic=anon
				<!--附件过滤结束 -->
				
				/map/**=anon  
				/mobile/**=anon  
				/plug-in/**=anon
				/upload/**=anon
                <!--所有的请求(除去配置的静态资源请求或请求地址为anon的请求)都要通过登录验证,如果未登录则跳到/login-->    
                /** = authc  
            </value>    
        </property>    
        
        <property name="filters">
        	<map>
                <entry key="authc" value-ref="myAuthc"/>
            </map>
        </property>
        
    </bean>  
    
    <bean id="myAuthc" class="wkrjsystem.permission.interceptor.MyAccessFilter"/>
    
    
    <!-- <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />   -->
   
     <!--引入缓存  -->
    <import resource="spring-cache.xml"/>
	
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />   
      
</beans>  