<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wkrj.warning.dao.NoticeAnnounceDao">
	<select id="getNoticeAnnounceList" resultType="map" parameterType="Object">
		SELECT na_id,na_title,na_content,na_other,na_inputuser,na_inputuserdept,
		DATE_FORMAT(na_inputtime,'%Y-%m-%d %H:%i:%s') AS na_inputtime,importance,
		accept_user,user_realname,
		(select dept_name from wkrj_sys_department where dept_id = na_inputuserdept)
		as dname
		FROM wkrj_noticeannounce n,wkrj_sys_user u 
		
		WHERE u.user_id = n.na_inputuser
		
		<if test="na_title != null and na_title != ''">
             AND na_title LIKE CONCAT(CONCAT('%',#{na_title}),'%')
        </if>
		
		<if test="null!=na_inputtime and ''!=na_inputtime">
            and na_inputtime >= #{na_inputtime}
        </if>
        <if test="null!=end_date and ''!=end_date">
            and na_inputtime &lt;= #{end_date}
        </if>
		<if test="null!=user_id and ''!=user_id">
		and (FIND_IN_SET(#{user_id},accept_user) or n.na_inputuserdept LIKE CONCAT('%',#{user_dept},'%'))
		</if>
		ORDER BY na_inputtime DESC 
		LIMIT #{offset},#{rows}
	</select>
	
	<insert id="addNoticeAnnounce" parameterType="NoticeAnnounce">
		INSERT INTO wkrj_noticeannounce(na_id,na_title,na_content,na_other,na_inputuser,
		na_inputuserdept,na_inputtime,importance,accept_user)
		VALUES(#{na_id},#{na_title},#{na_content},#{na_other},#{na_inputuser},#{na_inputuserdept},
		#{na_inputtime},#{importance},#{accept_user})
	</insert>
	<update id="updateNoticeAnnounce" parameterType="NoticeAnnounce">
		UPDATE wkrj_noticeannounce SET na_title = #{na_title},na_content = #{na_content},
		na_other = #{na_other},na_inputuser = #{na_inputuser},na_inputuserdept = #{na_inputuserdept},
		importance = #{importance},accept_user = #{accept_user}
		WHERE na_id = #{na_id}
	</update>
	<delete id="deleteNoticeAnnounce">
		DELETE FROM wkrj_noticeannounce WHERE na_id = #{na_id}
	</delete>
	
	
	<select id="getNoticeAnnounceFileList" resultType="map" parameterType="Object">
        SELECT * FROM wkrj_noticeannouncefile
        <if test="file_id != null and file_id != ''">
             WHERE file_id=#{file_id}
        </if>
        <if test="na_id != null and na_id != ''">
             WHERE na_id=#{na_id}
        </if>
    </select>
    
    <insert id="addNoticeAnnounceFile" parameterType="NoticeAnnounceFile">
		INSERT INTO wkrj_noticeannouncefile(na_id,file_id,file_yname,file_xname,file_inputtime,
		file_inputuser)
		VALUES(#{na_id},#{file_id},#{file_yname},#{file_xname},#{file_inputtime}
		,#{file_inputuser})
	</insert>
	<update id="updateNoticeAnnounceFile" parameterType="NoticeAnnounceFile">
		UPDATE wkrj_noticeannouncefile SET file_yname = #{file_yname},file_xname = #{file_xname},
		file_inputtime = #{file_inputtime},file_inputuser = #{file_inputuser}
		
		WHERE file_id = #{file_id}
	</update>
	<delete id="deleteNoticeAnnounceFile">
		DELETE FROM wkrj_noticeannouncefile 
		<if test="file_id != null and file_id != ''">
             WHERE file_id=#{file_id}
        </if>
        <if test="na_id != null and na_id != ''">
             WHERE na_id=#{na_id}
        </if>
	</delete>
	
	<select id="getNaFile" parameterType="String" resultType="NoticeAnnounceFile">
	
		SELECT na_id,file_id,file_yname,file_xname,file_inputtime,file_inputuser
		FROM wkrj_noticeannouncefile
        WHERE na_id=#{na_id}
        
	</select>
	
</mapper>